.game {
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.game-players {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
