.page-container {
    height: 100%;
    position: relative;
    padding-top: 75px;
}

.page-header {
    background-color: #38B3F0;
    height: 75px;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
}

.menu-icon {
    padding: 10px 30px;
}

.menu-icon div {
    height: 10px;
    width: 65px;
    background-color: #fff;
    margin: 6px 0;
}

.menu {
    background-color: #ddd;
    width: 425px;
    height: 100%;
    text-align: center;
}

.menu input {
    border: 0 solid #333;
    border-radius: 4px;
    margin-top: 100px;
    height: 30px;
    width: 300px;
    padding-left: 7px;
}

.search-result-container {
    padding-left: 65px;
}

.search-result-item {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    max-width: 300px;
    height: 30px;
    margin: 5px 0;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
    padding: 5px;
}

.search-result-item:first-child {
    border-top: 0;
}

.search-result-item img {
    height: 30px;
    width: 30px;
    margin-left: 15px; 
}

.notification-icon {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 100px;
    align-items: center;
    overflow: hidden;
}

.notification-icon #notification-btn {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    outline: none;
}

.notification-icon #notification-btn img {
    width: 50px;
    height: 50px;
}

.notification-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 60px;
}

.notification-content .invite-container {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  height: 75px;
}

.notification-content .invite-container:hover {
    background-color: #ddd;
}

.notification-icon #notification-btn:hover + .notification-content {
  display: block;
}

.notification-content:hover {
    display: block;
}

.invite-container {
    display: flex;
}

.invite-container * {
    font-family: Arial, Helvetica, sans-serif;
}

.invite-container strong {
    color: #ffc400;
    text-decoration: underline solid #ffc400;
}

.invite-container div {
    display: flex;
    flex-direction: row;
}

.invite-container p {
    margin-top: 5px;
    font-size: 14px;
}

.invite-container div img {
    width: 50px;
    height: 50px;
}

.invite-container div button {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    outline: none;
}