.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}

.login-container form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.login-container form input {
    margin-top: 20px;
    border: 0 solid #ddd;
    border-radius: 4px;
    height: 48px;
    padding: 0 28px;
    font-size: 16px;
    color: #666;
}

.login-container form input::placeholder {
    color: #999;
}

.login-container form button {
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background: #38B3F0;
    color: #fff;
    cursor: pointer;
}

.login-container form p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3px;
    font-size: 14px;
    color: #3366BB;
    cursor: pointer;
}

#error-message {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3px;
    font-size: 14px;
    color: #ff2222;
}